h1 {
    color: rgb(92, 63, 1);
    background-color:rgb(219, 213, 190);
    }
    h2 {
        color: rgb(99, 69, 18);
        background-color: rgb(216, 212, 205);
        }
        body {
            background-color: rgb(245, 245, 218);
            }        
            ul{
                display:flex;
                }
                li{
                list-style:none;
                }
                img {
                    width:200px;
                    height: 300px;
                    }